Repository json-schema-org/referencing, pull requests merged in 2022-11, with the labels that each got.

#11 Update README for naming vs the build system
  README.md
Labels: documentation

#2 New proposal: JSON Referencing and Identification (JRI)
  draft-handrews-jri.md
Labels: new proposal pr, jri

#4 New Proposal: JSON Reference (JRef) media type
  jdesrosiers-jref.md
Labels: new proposal pr, jref

#12 Avoid rendering comments as giant headers...
  draft-handrews-jri.md
Labels: jri
